* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

.restaurant-list {
  padding-top: 50px;
}

.content h1 {
  font-size: 2.5em;
}

.content h3 {
  font-size: 1.5em;
}
